*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color: #d1aa80;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 0;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;

}
header h1{
    color: #49995e; 
    font-weight: bolder;
    font-size: 40px;
    margin: 0%;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}
header ul li {
    color: #49995e;
    border-radius: 20px;
    text-shadow: #d1aa80;
}